# Data Science Tools and Ecosystem

>In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- Show examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Kirsten D.